.filter_container {
  height: 60px;
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: var(--color-main2);
}

.filter_list {
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.filter_list > li {
  color: var(--color-gray-100);
  background-color: var(--color-main2);
  padding: 8px 16px;
  cursor: pointer;
}

.filter_list > li.active {
  border-bottom: 3px solid var(--color-gray-100);
}
